.ff{
    list-style: decimal;
}
.logo{
text-align: center;
background-color: #cacedb;
color: black;
padding: 15px;
font-weight: bold;
position: fixed;
left: 50%;
border-radius: 50% 50%;
}
.yellow{
    text-align: center;
background-color: #FDE047;
color: black;
padding: 15px;
font-weight: bold;
position: fixed;
left: 50%;
border-radius: 50% 50%;
}
.def{
    width: 4%;
    position: fixed;
}
.cha{
    width: 4%;
    position: fixed;
    color: #FDE047;
    transition: all;
}

.coll{
    color: #FDE047;
    transition: all;
}

.gr{
text-align: center;
color: black;
padding: 15px;
font-weight: bold;
position: fixed;
left: 50%;
border-radius: 50% 50%;
    background-color: #22C55E;
}
.gre{
     color: #22C55E;
    transition: all;
}
.gree{
        width: 4%;
    position: fixed;
    color: #22C55E;
    transition: all;
}

.aa{
    background-image: url(/public/chinese.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cc{
    background-image: url(/public/pinterest.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bb{
    background-image: url(/public/grain.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.dd{
    background-image: url(/public/konna.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ee{
     background-image: url(/public/portfoilo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}